*.gz
Code/.vscode/c_cpp_properties.json
Code/.vscode/extensions.json
Code/.vscode/launch.json
Code/data/rfid.html.gz
Code/data/header.html.gz
Code/data/index.html.gz
Code/data/logo.png.gz
Code/data/rfid_bambu.html.gz
Code/data/rfid.html.gz
Code/data/rfid.js.gz
Code/data/set_spoolman.png.gz
Code/data/spool_in.png.gz
Code/data/spoolman.js.gz
Code/data/style.css.gz
Code/data/upgrade.html.gz
Code/data/wifi.html.gz
Code/data/header.html.gz
Code/data/index.html.gz
Code/data/logo.png.gz
Code/data/rfid.html.gz
Code/data/rfid.js.gz
Code/data/rfid_bambu.html.gz
Code/data/set_spoolman.png.gz
Code/data/spool_in.png.gz
Code/data/spoolman.js.gz
Code/data/style.css.gz
Code/data/upgrade.html.gz
Code/data/wifi.html.gz
*.gz
.DS_Store
